
<div class="row">
    <div class="col-lg-12">
        <!-- Title -->
        <h2 class="page-header">電子書城</h2>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped  table-hover " st-pipe="e.callServer" st-table="e.displayed">
                        <thead>
                            <tr>
                                <th>
                                    <a ui-sref="dashboard.article_page" class="btn btn-sm btn-primary">
                                        <i class="glyphicon glyphicon-plus"></i> 新增
                                    </a>
                                </th>
                                <th></th>
                                <th></th>

                                <th colspan="2">
                                    <div class=" pull-right input-group" style="display:inline">
                                        <select class="form-control" id="predicate" style="width:80px" ng-model="e.selectedPredicate" ng-options="p.key as p.value for p in e.predicates"></select>
                                        <input st-search="{{e.selectedPredicate}}" class="form-control" type="text" placeholder="搜尋" value="" style="width:230px" />
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th width="5%" class="text-center">圖</th>
                                <th width="10%" class="text-center" st-sort="Title">標題</th>
                                <th width="10%" class="text-center" st-sort="IsPublish">狀態</th>
                                <th width="10%" class="text-center" st-sort="ModifiedTime">更新時間</th>
                                <th width="15%" class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody ng-show="!e.isLoading">
                            <tr ng-repeat="row in e.displayed">
                                <td class="text-center"><img width="100px" ng-src="{{row.CoverImage | defalutPic:row.IsOuterCoverImage}}" /></td>
                                <td class="text-center">{{row.Title}}</td>
                                <td class="text-center">{{row.IsPublish | isPublish }}</td>
                                <td class="text-center">{{row.ModifiedTime | date: 'yyyy-MM-dd' }}</td>
                                <td class="text-center">
                                    <a ui-sref="dashboard.article_page({ id: '{{row.ContentID}}'})" class="btn btn-success btn-outline">
                                        編輯
                                    </a>
                                    <button class="btn btn-danger btn-outline" ng-click="e.removeRow(row.ContentID)">刪除</button>
                                </td>

                            </tr>
                        </tbody>
                        <tbody ng-show="e.isLoading">
                            <tr>
                                <td colspan="5" class="text-center">Loading ... </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    (共 {{e.totalCount}} 筆資料)
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>

                                    <!--<div st-items-by-page="10" st-pagination=""
                                         st-template="app/scripts/shared/_pagination.html"></div>-->
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
