 
<div class="">
    <div class="row">
        <div class="col-lg-12 ">
            <!-- Title -->
            <h3 ng-hide="i.isEdit" class="page-header">參觀介紹 新增</h3>
            <h3 ng-show="i.isEdit" class="page-header">參觀介紹 編輯</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-green">
                <div class="panel-heading">
                    必填表單
                </div>
                <div class="panel-body">
                    <!-- /.row -->
                    <form class="form-horizontal" role="form" name="form1">
                        <div class="form-group"></div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for=""><span class="red-color">*</span>館所分類:</label>
                            <div class="col-sm-9">
                                <ddl-museums select-value="i.data.Museum"></ddl-museums>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for=""><span class="red-color">*</span>社教館名:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="museumName" ng-model="i.data.MuseumName" required id="" placeholder="">
                                <span ng-class="{'error-alert':isInvalid('museumName')}" ng-show="isInvalid('museumName')">
                                    必填
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2 " for=""><span class="red-color">*</span>館所介紹:</label>
                            <div class="col-sm-9">
                                <textarea type="" class="form-control" cols="50" rows="5" name="description" ng-model="i.data.Description" required id="" placeholder=""></textarea>
                                <span ng-class="{'error-alert':isInvalid('description')}" ng-show="isInvalid('description')">
                                    必填
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2 " for="">開放時間:</label>
                            <div class="col-sm-9">
                                <textarea type="" class="form-control" cols="50" rows="5" name="openTimeIntro" ng-model="i.data.OpenTimeIntro" id="" placeholder=""></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2 " for="">交通指引:</label>
                            <div class="col-sm-9">
                                <textarea type="" class="form-control" cols="50" rows="5" name="traffic" ng-model="i.data.Traffic" id="" placeholder=""></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="">地址:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="address" ng-model="i.data.Address" id="" placeholder="">
                                <span ng-class="{'error-alert':isInvalid('address')}" ng-show="isInvalid('address')">
                                    必填
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="">票價:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="ticket" ng-model="i.data.Ticket" id="" placeholder="">
                                <span ng-class="{'error-alert':isInvalid('ticket')}" ng-show="isInvalid('ticket')">
                                    必填
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for=""><span class="red-color">*</span>電話:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="phone" ng-model="i.data.Phone" required id="" placeholder="">
                                <span ng-class="{'error-alert':isInvalid('phone')}" ng-show="isInvalid('phone')">
                                    必填
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for=""><span class="red-color">*</span>email:</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="email" ng-model="i.data.Email" required placeholder="">
                                <span ng-class="{'error-alert':isInvalid('email')}" ng-show="isInvalid('email')">
                                    格式不正確
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for=""><span class="red-color">*</span>官方網站:</label>
                            <div class="col-sm-9">
                                <input type="url" class="form-control" name="website" ng-model="i.data.Website" required id="" placeholder="">
                                <span ng-class="{'error-alert':isInvalid('website')}" ng-show="isInvalid('website')">
                                    網址格式不正確
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for=""><span class="red-color">*</span>臉書專頁:</label>
                            <div class="col-sm-9">
                                <input type="url" class="form-control" name="facebook" ng-model="i.data.Facebook" required id="" placeholder="">
                                <span ng-class="{'error-alert':isInvalid('facebook')}" ng-show="isInvalid('facebook')">
                                    網址格式不正確
                                </span>
                            </div>
                        </div>

                      

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="">封面圖網址:</label>
                            <div class="col-sm-9 radio">
                                <label ng-repeat="type in i.imgTypes">
                                    <input type="radio"
                                           ng-model="i.data.IsOuterCoverImage"
                                           ng-value="type.value"
                                           ng-change="i.radioChange(type.value);"
                                    />
                                    {{type.key}} &emsp;
                                </label>
                                <br />
                                <br ng-if="i.data.IsOuterCoverImage" />
                                <input type="url" class="form-control" name="coverimage" ng-model="i.data.CoverImage" id="" placeholder="" ng-if="i.data.IsOuterCoverImage">
                                <span ng-class="{'error-alert':isInvalid('coverimage')}" ng-show="isInvalid('coverimage')" ng-if="i.data.IsOuterCoverImage">
                                    網址格式不正確
                                </span>

                                <div ng-if="!i.data.IsOuterCoverImage">
                                    <upload-img img-path="i.data.CoverImage"></upload-img>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for=""><span class="red-color">*</span>是否啟用:</label>
                            <div class="col-sm-9 radio">
                                <label>
                                    <input type="radio" ng-model="i.data.IsPublish" ng-value='true'>
                                    是
                                </label>
                                <label>
                                    <input type="radio" ng-model="i.data.IsPublish" ng-value=false>
                                    否
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-lg-4" ng-show="i.isDebug">
            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group heading=" + 偵錯模式" is-open="true" is-disabled="false">
                    <div ng-repeat="(key, item) in i.data">
                        <label>{{key}} :</label>
                        <pre>{{item}}</pre>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
           
        </div>
    </div>
    <!--<div class="row">
        <div class="col-lg-8">
            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group heading=" + 熱門行程推薦" is-open="false" is-disabled="false">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="">內容:</label>
                            <div class="col-sm-9">
                                <textarea type="text" cols="50" rows="13" class="form-control" ng-model="i.data.Note" id="" placeholder=""></textarea>
                            </div>
                        </div>
                    </form>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>-->
    <div class="row">
        <div class="col-offset-5 col-md-7" style="text-align:center">
            <button type="button" ng-click="i.addItem()" ng-hide="i.isEdit" class="btn btn-default">新增資料</button>
            <button type="button" ng-click="i.updateItem()" ng-show="i.isEdit" class="btn btn-default">更新資料</button>
            <a ui-sref="dashboard.introduction" class="btn btn-sm btn-default">
                取消
            </a>
        </div>
    </div>
</div>
