
<div class="row">
    <div class="col-lg-12">
        <!-- Title -->
        <h2 class="page-header">資源分享統計</h2>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-5">
        <select ng-model="r.type" ng-options="m for m in r.typeOptions"></select>
        <ddl-year-month select-year="r.year" select-month="r.month"></ddl-year-month>
        <button type="button" ng-click="r.updateInfo()">查詢</button>
        <br /><br />
    </div>
</div>

<div class="row"></div>
<div class="row">
    <div class="col-xs-5">
        <div class="panel panel-red">
            <div class="panel-heading">
                <h2 class="panel-title">
                    Google 分享
                </h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">排名</th>
                                <th class="text-center">主題</th>
                                <th class="text-center">次數</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in r.displayed.googleRecord track by $index">
                                <td class="text-center">{{$index + 1}}</td>
                                <td class="text-center">{{row.Content.Title}}</td>
                                <td class="text-center">{{row.GoogleShare}}</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="panel panel-green">
            <div class="panel-heading">
                <h2 class="panel-title">
                    Facebook 分享紀錄
                </h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">排名</th>
                                <th class="text-center">主題</th>
                                <th class="text-center">次數</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in r.displayed.facebookRecord track by $index">
                                <td class="text-center">{{$index + 1}}</td>
                                <td class="text-center">{{row.Content.Title}}</td>
                                <td class="text-center">{{row.FacebookShare}}</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h2 class="panel-title">
                    Line 分享紀錄
                </h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">排名</th>
                                <th class="text-center">主題</th>
                                <th class="text-center">次數</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in r.displayed.lineRecord track by $index">
                                <td class="text-center">{{$index + 1}}</td>
                                <td class="text-center">{{row.Content.Title}}</td>
                                <td class="text-center">{{row.LineShare}}</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">
                    Twitter 分享紀錄
                </h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">排名</th>
                                <th class="text-center">主題</th>
                                <th class="text-center">次數</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in r.displayed.twitterRecord track by $index">
                                <td class="text-center">{{$index + 1}}</td>
                                <td class="text-center">{{row.Content.Title}}</td>
                                <td class="text-center">{{row.TwitterShare}}</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>

