@model Model.AuthInfo
@using Utility.Extensions.Security

@{
    var role = (Request.IsAuthenticated) ? HttpContext.Current.User.ToCustomPrincipal().CustomIdentity.Role : 99;
    var id = (Request.IsAuthenticated) ? HttpContext.Current.User.ToCustomPrincipal().CustomIdentity.UserID : null;
}

<div ng-app="sbAdminApp">
    <div ng-init="user={authenticated:'@(Model.Authenticated.ToString().ToLower())',userID:'@id',userName:'@Model.UserName', role: @(role)}">
        <div ui-view></div>
        @*<div ng-view></div>*@
    </div>
</div>