<div class="col-sm-3">
    <select class="form-control" ng-init="selectHour=''" ng-model="selectHour" ng-options="c for c in Hour">
        <option value="" disabled selected>選擇小時</option>
    </select>
    <!--<label class="control-label" for="">小時</label>-->
</div>

<div class="col-sm-3">
    <select class="form-control" ng-init="selectMin=''" ng-model="selectMin" ng-options="c for c in Min">
        <option value="" disabled selected>選擇分鐘</option>
    </select>
    <!--<label class="control-label" for="">分鐘</label>-->
</div>