<link href="../../../Content/login.css" rel="stylesheet" />
<div class="alert alert-dismissible alert-info">
    <strong>科普後台 </strong>- 登入口
</div>
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>

        <form class="form-signin">
            
            <input type="text" ng-model="l.user.account" class="form-control" placeholder="帳號" required autofocus>
            <input type="password" ng-model="l.user.password" class="form-control" placeholder="密碼" required>
            <button class="btn btn-lg btn-success btn-block btn-signin" type="submit"
                    ng-disabled="!l.user.account || !l.user.password"
                    ng-click="l.Signin(l.user)">
                登入
            </button>
            <label ng-show="l.isFailLogin" class="red-color">帳號或密碼輸入不正確</label>
        </form><!-- /form -->

    </div><!-- /card-container -->
</div><!-- /container -->

<div id="id_footer" class="alert alert-dismissible alert-success" style="font-size:smaller">
    本網站若有疏漏或欠妥之處，請隨時與我們聯絡。
    <br />
    技術服務：頑石創意股份有限公司<br />    
    客服電話：(02)2786-8000 (分機:76、13) <br />    
    電子信箱：<a href="mailto:popularsciencesite@gmail.com">popularsciencesite@gmail.com</a>
</div>